{% extends "base.html" %}
{% load humanize %}
{% block content %}

{% for project in project_list %}
<div class="project-box">
    <div class="project">
        <div class="project-name">{{project.name}}</div>
        <table class="project">
            <tr>
                <th>Last update</th>
                <th>Milestone</th>
                <th>Labels</th>
                <th>Title</th>
                <th>User</th>
                <th>Reviews</th>
                <th>{{feedback_ok|safe}}</th>
                <th>{{feedback_weak|safe}}</th>
                <th>{{feedback_ko|safe}}</th>
            </tr>
        {% for pr in project.pr_list %}
            <tr class="pr">
                {% if pr.is_old %}
                    <td class="last-update highlight">{{pr.updated_at|naturaltime}}</td>
                {% else %}
                    <td class="last-update">{{pr.updated_at|naturaltime}}</td>
                {% endif %}
                <td class="milestone">{% if pr.milestone %}{{pr.milestone}}{% endif %}</td>
                <td class="label">
                {% for label in pr.labels %}
                    <span class="labelname labelname-{{label.style}}" style="background-color:#{{label.color}}">{{label.name}}</span>
                {% endfor %}
                </td>
                <td class="title"><a href="{{pr.url}}">{{pr.title}}</a></td>
                <td class="user">{{pr.user}}</td>
                <td class="nbrev">{{pr.nbreview}}</td>
                <td class="feedback_ok">{{pr.feedback_ok}}</td>
                <td class="feedback_weak">{{pr.feedback_weak}}</td>
                <td class="feedback_ko">{{pr.feedback_ko}}</td>
            </tr>
        {% endfor %}
        </table>
    </div>
</div>
<p>
{% endfor %}
{% endblock %}
